.DS_Store
.idea
*.log
tmp/
yolo/
typings/
results/
dist/
ReX.egg-info/
local/
runs/
local/
runs/
benchmarks/
rex.toml
*.org

test_*.jpg
ReX_*.jpg
causal_*.jpg
driver.py
data_dump
deepcover.toml
*.egg
build
htmlcov
__pycache__/
one_image/
data
*.pickle
*.swp
*.db
*.onnx
*.h5
*.hdf5
*.pt
*.json.gz
.coverage
rex_ai.egg-info/*
*.pt
*.json
.coverage
